#container div {
	width: 205px;
	height: 135px;
	background-image: url('images/cat.jpg');
	background-repeat: no-repeat;
	position: absolute;
}
.row1 {
	top: 0
}
.row2 {
	top: 136px;
}
.row3 {
	top: 272px;
}
.col1 {
	left: 0;
}
.col2 {
	left: 206px;
}
.col3 {
	left: 412px;
}
#item1 {
	content: "1";
	background-position: -0px 0px;
}
#item2 {
	background-position: -205px 0px
}
#item3 {
	background-position: -410px 0px;
}
#item4 {
	background-position: -0px -135px;
}
#item5 {
	background-position: -205px -135px
}
#item6 {
	background-position: -410px -135px;
}
#item7 {
	background-position: -0px -270px;
}
#item8 {
	background-position: -205px -270px
}
#item9 {
	background-position: -410px -270px
}
#empty {
	background-image: none!important;
}